{% if page_obj.has_other_pages %}
<form method="get">
  {{ page_size_form.as_p }}  <!-- Форма для выбора количества товаров на странице -->
  {% for key, value in request.GET.items %}
    {% if key != 'page' and key != 'page_size' %}
      <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endif %}
  {% endfor %}
  <button type="submit">Применить</button>
</form>

  <nav aria-label="Page navigation" class="my-5">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">Первая</a></li>
        <li class="page-item">
          <a class="page-link" href="{% if '?' in request.get_full_path %}{{ request.get_full_path }}&page={{ i }}{% else %}{{ request.get_full_path }}?page={{ i }}{% endif %}">
            << </a>
        </li>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item active">
            <span class="page-link">{{ i }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="{% if '?' in request.get_full_path %}{{ request.get_full_path }}&page={{ i }}{% else %}{{ request.get_full_path }}?page={{ i }}{% endif %}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="{% if '?' in request.get_full_path %}{{ request.get_full_path }}&page={{ i }}{% else %}{{ request.get_full_path }}?page={{ i }}{% endif %}">
            >>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% if '?' in request.get_full_path %}{{ request.get_full_path }}&page={{ i }}{% else %}{{ request.get_full_path }}?page={{ i }}{% endif %}">
            Последняя
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>

{% endif %}