{% extends 'base.html' %}

{% block title %}Категории{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    {% for category in category_list %}
    <div class="col">
        <!-- Обертываем всю карточку в ссылку -->
        <a href="{% url 'pages:subcategories' status=request.resolver_match.kwargs.status category_slug=category.slug %}" class="card-top-link">
            <div class="card h-100">
                <div class="card-body d-flex flex-column custom-card">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <img src="{{ category.image.url }}" class="img-fluid" style="max-width: 50px;">
                    </div>
                    <p class="card-text">
                        <ul style="list-style-type: none; padding-left: 0; margin-bottom: 0;">
                            {% for subcategory in category.filtered_subcategories|slice:":3" %}
                                <li>
                                    <a href="{% url 'pages:products' status=request.resolver_match.kwargs.status category_slug=category.slug subcategory_slug=subcategory.slug%}"
                                       class="subcategory-link">
                                        {{ subcategory.name }}
                                    </a>
                                </li>
                            {% endfor %}
                            {% if category.filtered_subcategories|length > 3 %}
                                <li>
                                    <a href="{% url 'pages:subcategories' status=request.resolver_match.kwargs.status category_slug=category.slug %}" class="subcategory-link">
                                        ...
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </p>
                    <a href="{% url 'pages:subcategories' status=request.resolver_match.kwargs.status category_slug=category.slug %}"
                       class="btn btn-gray btn-lg py-3 px-4 mt-auto">Перейти</a>
                </div>
            </div>
        </a>
    </div>
    {% empty %}
    <p>Категории не найдены.</p>
    {% endfor %}
</div>
{% endblock %}