{% extends 'base.html' %}
{% load static %}
{% block title %}Товары{% endblock %}

{% block content %}
<div class="row">
    {% if form %}
        {% include "includes/filter_sidebar.html" %}
    {% endif %}

    <!-- Колонки товаров с отступами для мобильных устройств -->
    <div class="col-12 col-md-9">
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3 mt-md-0">
            {% for product in products_list %}
                <div class="col">
                    <div class="card h-100 custom-card">
                        <img src="{{ product.image.url }}" class="img-fluid me-4" style="max-width: 150px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text">{{ product.price }}</p>
                            <a href="{% url 'pages:product_detail' status=request.resolver_match.kwargs.status category_slug=product.subcategory.category.slug subcategory_slug=product.subcategory.slug pk=product.pk%}"
                               class="btn btn-gray btn-info">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% empty %}
            <div class="col-12 col-md-6 mb-2 mb-md-0">
                <h2 class="mb-0">
                     Товары по заданным параметрам не найдены.
                </h2>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include "includes/paginator.html" %}
{% endblock %}